*{
    margin: 0px;
    padding:0px;
    background-color:black;
    color: white;
}
#container{
    display: flex;
    gap:15px; 
    margin-top:25px;
    margin-left: 10px;
}

.box{
    height:215px;
    width: 195px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

#headpic {
    height: 350px;
    width: 100%;
    border-radius: 10px;
}
h1{
    color:red;
    font-size: 40px;
    font-family: arial;
    text-align: center;
    background-color: orangered;
}
span{
    color:white;
}
#heart{
    color:red;
}
a{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-family: arial;
    text-align: center;

}
b{
    color:red;
}

img{
    /* border-radius: 10px; */
    width:195px;
    height:150px;
}